
@{
    Layout = null;
}

@model MVCDemo.Models.SysUser
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
            <dt>@Html.DisplayFor(model => model.UserName)</dt>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dt>@Html.DisplayFor(model => model.Email)</dt>

            <dt>@Html.DisplayNameFor(model => model.Password)</dt>
            <dt>@Html.DisplayFor(model => model.Password)</dt>

            <dt>@Html.DisplayNameFor(model => model.SysUserRoles)</dt>
            <dd>
                <table>
                    <tr>
                        <th>RoleName</th>
                        <th>RoleDesc</th>
                    </tr>
                    @foreach (var item in Model.SysUserRoles)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.SysRole.RoleName)</td>
                            <td>@Html.DisplayFor(modelItem => item.SysRole.RoleDesc)</td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
</body>
</html>
